@use "../../variables.scss";

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: variables.$primary-border;
  height: 90px;
  padding: 0 10px;

  .leftSide {
    display: flex;
    align-items: center;
    font-size: 40px;
    font-weight: 300;
    .title {
      color: variables.$active-color;
      margin: 0 30px;
      padding: 0;
    }
    .titleCompleted {
      margin: 0 30px;
      text-decoration: line-through;
      color: variables.$secondary-color;
    }
    .checkbox {
      margin: 0 30px;
      width: 60px;
      height: 60px;
    }
  }
}
